#contact {
	width:800px;
	height:auto;
	background-color:red;
	display: -moz-box;
	display: -o-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	background-color: rgba(255, 255, 255, 0.8);
	padding:0 0 20px 0;
}
#contact p {
	text-indent:2em;
}

#contact h1 {
	padding:0 0 10px 10px;
	color:hsl(29,74%,55%);
	font-size:2em;
	margin:10px 0 0 0;
	/*margin:20px 0 0 0;*/
}

#contact h2 {
	padding:0 0 2px 20px;
	font-size:1.3em;
	margin:10px 0 10px 0;
	color:hsl(0,0%,100%);
	background-color:hsl(193,94%,28%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;

}

.underline {
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:hsl(0,0%,80%);
}

#contact article {
	padding:0 20px 0 20px;
}


#contact a{
	color:hsl(204,41%,50%);
}

#contact a:hover {
	color:hsl(295,89%,29%);
	text-decoration:underline;
}
