#direction{
	width:240px;
	padding:0 0 20px 0;
	margin:10px 0 0 2px;
	-moz-border-radius:5px
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px black;
	-moz-box-shadow:0 0 5px #000;
	-o-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000;
	background-color:hsla(0,0%,100%,0.8);
	position:fixed;
}

#direction :first-child {
	margin-top:20px;
}

#direction h2{
	font-size:1em;
	background-color:hsl(193,94%,28%);
	/*color:hsl(0,0%,100%);*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	padding:0 0 0 10px;
	margin:2px 5px 0 5px;
}

#direction h2 a{
	color:hsl(0,0%,100%);
}

#direction h3{
	font-size:1em;
	background-color:hsl(45,79%,92%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin:2px 15px 0 15px;
	padding:0 0 0 10px;
}	

#direction h3 a{
	color:hsl(0,0%,0%);
}

#direction a:hover {
	text-decoration:underline;
}
