#index_content{
	/*width:90%;*/
	/*background:red;*/
  display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	/*margin:10px 20px 0 40px ;*/
	background-color:hsla(0,0%,100%,0.8);
}
#index #blank{
	height:10px;
}
#index .article_info{
	/*margin:40px 0 0 0;*/
	width:100%;
	/*background:red;*/
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	padding:0 0 10px 0;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:hsl(0,0%,80%);
	/*margin-bottom:0px;*/
	/*height:100px;*/
	/*background-color:hsla(0,0%,100%,0.8);*/
;
}
#index .title{
	/*background:red;*/
	width:50%;
}
#index .center{
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-pack:center;
}
#index .info{
	word-wrap:break-word;
	width:50%;
}
#index h1{
	/*display:block;*/
	font-size:1.3em;
	margin:30px 0 0 20px;
	/*height:50%;*/
}
#index .time{
	margin:0 0 0 20px;
	font-size:1em;
	font-weight:bolder;
}
.shadow{
 -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px #000;
	-o-box-shadow:0 0 5px #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#index .center p{
	margin:20px 20px 0 0;
	/*background:red;*/
}


#index .more{
	display:block;
	background-color:hsl(29,74%,55%);
	width:90px;
	text-align:center;
	margin:10px 0 0 200px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

}


#index a:link {
	color:hsl(100,65%,36%);
}
#index a:active {
	color:hsl(100,65%,36%);
}
#index a:visited {
	color:hsl(100,65%,36%);
}
#index a:hover {
	color:hsl(100,90%,20%);
}


#index .info a:link {
	color:hsl(0,0%,100%);
}
#index .info a:active {
	color:hsl(0,0%,100%);
}
#index .info a:visited {
	color:hsl(0,0%,100%);
}
#index .info a:hover {
	background:hsl(332,100%,47%);
}	

.article_info:hover {
		background: -moz-linear-gradient(90deg, #e0e0e0 0%, #fefefe 80%, #f5f5f5 100%);
    background: -webkit-linear-gradient(90deg, #e0e0e0  0%, #fefefe 80%, #f5f5f5 100%);
    background: -ms-linear-gradient(90deg, #e0e0e0 0%, #fefefe 80%, #f5f5f5 100%);
    background: linear-gradient(to 90deg, #e0e0e0 0%, #fefefe 80%, #f5f5f5 100%)
	
}
