#post{
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	background-color:hsla(0,0%,100%,0.8);
	height:auto;
	width;90%;
}
#post #blank{
	height:20px;
}



#post #path{
	width:90%;
	height:20px;
	font-size:1.2em;
	margin:0 0 0 20px;
}



#post #article{
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	word-warp:break-word;
}

#post #title{
	text-align:center;
	font-size:2em;
	margin:0 0 0 0;
	color:hsl(29,74%,55%);
}



#post #time{
	text-align:center;
	margin:5px 0 0 0;
	font-weight:bold;
}

#post time{
	color:hsl(100,65%,36%);
}

#post #description{
	font-style:oblique;
	/*background:red;*/
	margin:10px 50px 0 50px;
	text-align:center;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:hsl(0,0%,80%);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:hsl(0,0%,80%);
	font-size:0.9em;
	padding:10px 50px 10px 50px;

}


#post #content{
	padding:10px 50px 0 50px;
}
#post #content p{
	text-indent:2em;
	margin:0 0 0 0;
}
#post #content h2{
	/*color:hsl(100,65%,36%);*/
	/*padding:0 0 10px 0;*/
	/*border-bottom-style:solid;*/
	/*border-bottom-width:1px;*/
	/*border-bottom-color:hsl(0,0%,80%);*/



	color:hsl(0,0%,100%);
	padding:10px 0 10px 10px;
	background-color:hsl(193,94%,28%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

#post #content h3{
	/*color:hsl(207,100%,54%);*/
	font-weight:1000;
	/*background-color:red;*/
	margin:0 10px 0 10px;
	padding:5px 0 5px 10px;
	color:hsl(0,0%,0%);
	background-color:hsl(45,79%,92%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

#post #content img {
	margin: 5px auto;
  display: block;
  padding: 3px 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 4px #d0d0d0;
	
}

#post #content code:not([class]){
	margin: 0 3px;
 	padding: 0 3px;
 	background: #a0a0a0;
 	font: 12px Monaco,serif;
 	color: #f8f8f8;
	border-radius: 2px 2px;
}	
#post #content strong{
	font-size:1.1em;
	font-weight:bolder;
}

#post #content a{
	color:hsl(204,41%,50%);
}
#post #content a:hover {
	text-decoration:underline;
	color:hsl(295,89%,29%);
}

#post #content table td{
	text-align:center;
	padding:0 10px 0 10px;
}

#post #content table tr:nth-of-type(even) {
	background-color:hsla(210,70%,82%,.5);
}
#post #content table tr:nth-of-type(odd) {
	background-color:hsla(110,44%,76%,.5);
}


#post #content blockquote {
	padding: 0.5em 1em 0.1em 1em; 
	margin-bottom: 1em; 
	background: rgba(214, 214, 214, 0.5); 
	border-width: 1px 1px 1px 0.4em; 
	border-color:#d8d8d8 #d8d8d8 #d8d8d8 #d0d0d0; 
	border-style: solid; 
	vertical-align: middle; 
	border-radius: 0px 2px 2px 0;
	margin-left:0px;
}


#post #content blockquote:before {
    content: "“";
    font-size: 38px;
    line-height: 18px;
    position: relative;
    color: #c8c8c8;
    overflow: hidden;
    top: 18px;
}

#post #content blockquote:after {
    content: "”";
    font-size: 38px;
    line-height: 18px;
    position: relative;
    color: #c8c8c8;
    overflow: hidden;
    top: 14px;
}



#post #eof{
	/*background:red;*/
	font-size:1em;
	text-align:center;
}

#post #declare{
	padding:0 0 0 50px;
	background:hsl(207,75%,78%);
	margin:20px 50px 0 50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 5px #0117da inset;
	-webkit-box-shadow:0 0 5px #0117da inset;
	-o-box-shadow:0 0 5px #0117da inset;
	box-shadow:0 0 5px #0117da inset;

	/*font-weight:bold;*/
}



#post nav{
	/*background:red;*/
	margin:20px 50px 50px 50px;
	height:40px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:hsl(0,0%,80%);
	padding-top:15px;

}


#post nav a{
	padding:0 10px 0 10px;
}

#post #previous{
	float:left;
}
#post #next{
	float:right;
}


#post .highlight {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#post #time a:link {
	color:hsl(207,100%,54%);
}

#post #time a:active {
	color:hsl(207,100%,54%);
}

#post #time a:visited {
	color:hsl(207,100%,54%);
}

#post #time a:hover {
	color:hsl(207,100%,54%);
	text-decoration:underline;
}


#post   a:link {
	color:hsl(0,0%,33%);
}
#post  a:active {
	color:hsl(0,0%,33%);
}
#post  a:visited {
	color:hsl(0,0%,33%);
}
#post #path a:hover {
	color:hsl(207,100%,54%);
	text-decoration:underline;
}
#post #declare a:link {
	color:hsl(0,0%,100%);
}
#post #declare a:active {
	color:hsl(0,0%,100%);
}
#post #declare a:visited {
	color:hsl(0,0%,100%);
}
#post #declare a:hover {
	color:hsl(0,0%,100%);
	text-decoration:underline;
}
#post nav a:hover {
	background-color:hsl(0,0%,71%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}


