a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
body{
	color: hsl(0,0%,33%);
	font-size: 14px;
	line-height: 180%;
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}


#back{
	margin:0 0 0 0;
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
	-webkit-box-orient:horizontal;
	-moz-box-pack:center;
	-o-box-pack:center;
	-webkit-box-pack:center;
	box-pack:center;

}

/*头部开始*/
#head{
	  top:0;
		left:0;
		bottom:0;
		width:100%;
		height:100px;
		background-color:hsla(0,0%,0%,0.85);
		background:-webkit-gradient(radial,50% 50%,200,50% 0,0, from(hsla(0,0%,0%,0.85)), to(hsla(0,0%,15%,0.85))) ;
		-webkit-box-shadow:0 0 20px black;
		position:absolute;
		display:-moz-box;
		display:-o-box;
		display:-webkit-box;
		display:box;
		-moz-box-orient:horizontal;
		-o-box-orient:horizontal;
		-webkit-box-orient:horizontal;
}
/*头部标题开始*/
#head h1{
	margin-left:20%;
	font-size: 3em;
	-moz-box-align:center;
	-o-box-align:center;
	-webkit-box-align:center;
	box-align:center;
	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	width:10%;
	min-width:126px;
}
#head h1 a{
	text-shadow:0 0 1px black;
	color:hsl(0,0%,80%);
}
#head h1 a:hover{color:hsl(0,0%,100%);}
#head h1 a:active{color:hsl(0,0%,50%);}
/*头部标题结束*/

#menu{
	margin-top:50px;
	width:50%;
	min-width:700px;<F5>

}

#head .current{
	background-color:hsla(0,0%,0%,0.25);
}

#head .menu li{
	list-style: none;
	text-align:center;
	margin-top:20px;
	margin-left:10px;
	letter-spacing:2px;
  height:30px;
	line-height:30px;
	float:left;
}
#head .menu  a{
  display:block;
	color:hsl(0,0%,70%);
  padding:0px 10px 0px 10px;
}
#head .menu li a:hover{color:hsl(207,100%,54%);background-color:hsla(0,0%,0%,0.25);}
#head .menu li a:active{color:hsl(207,100%,35%);}

/*头部结束*/










#wrap{
	margin-top:110px;
	/*width:100%;*/
	height:auto;
	top:0;
	padding:5px 5px 10px;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px #000;
	-o-box-shadow:0 0 20px #000;
	display:-mox-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	background-color:hsl(0,0%,91%);
	width:1260px;
	vertical-align:middle;
}

 #left{
	 /*width:20%;*/
	/*background:red;*/
	-moz-box-ordinal-group:1;
  -o-box-ordinal-group:1;
	-wenkit-box-ordinal-group:1;
	box-ordinal-group:1;
	-moz-box-flex:2;
	-o-box-flex:2;
	-webkit-box-flex:1;
	box-fleax:2;
 	display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	width:230px;
}

#container{
	width:60%;
	/*background:yellow;*/
	-moz-box-ordinal-group:2;
  -o-box-ordinal-group:2;
	-wenkit-box-ordinal-group:2;
	box-ordinal-group:2;
	min-width:800px;
}

/*右边侧边栏开始*/
#right{
	/*width:20%;*/
	-moz-box-ordinal-group:3;
  -o-box-ordinal-group:3;
	-wenkit-box-ordinal-group:3;
	box-ordinal-group:3;
  display:-moz-box;
	display:-o-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	width:230px;
}


#right #about{
		height:250px;
		margin:60px 0 20px 10px; 
		width:220px;
}

#right h1{
	text-align:center;
	padding-top:10px;
}
#about p{
	padding-left:10%;
	font-size:0.9em;
	margin:10px 0 0 0;
	/*background:red;*/
}
#right .shadow{
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px #000;
	-o-box-shadow:0 0 5px #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:hsla(0,0%,100%,0.8);
}

#right #links{
	height:250px;
	margin:10px 0 20px 10px;
	/*background:green;*/
	width:220px;
}




#end-foot {
		left:0;
		margin:0 0 0 0;
		width:100%;
		height:100px;
		background-color:hsla(0,0%,0%,0.85);
		background:-webkit-gradient(radial,50% 50%,200,50% 0,0, from(hsla(0,0%,0%,0.85)), to(hsla(0,0%,15%,0.85))) ;
		-webkit-box-shadow:0 0 20px black;
		position:absolute;
		display:-moz-box;
		display:-o-box;
		display:-webkit-box;
		display:box;
		-moz-box-orient:vertical;
		-o-box-orient:vertical;
		-webkit-box-orient:vertical;
		-moz-box-pack:center;
		-o-box-pack:center;
		-webkit-box-pack:center;
		box-pack:center;
		color:hsl(0,0%,100%);
}
#end-foot p{
	text-align:center;
	margin-top:0px;
}

#end-foot a {
	color:hsl(48,99%,60%);
}
#end-foot a:hover {
	text-decoration:underline;
}



#right a:link {
	color:hsl(0,0%,33%);
}
#right a:active{
	color:hsl(0,0%,33%);
}
#right a:visited{
	color:hsl(0,0%,33%);
}
#right a:hover{
	color:hsl(207,100%,54%);
}
#links li{
	font-size:1em;
}
