<div class="page-header">
  <h1>{{ page.title }} <small class="H1_Date">--{{ page.date | date_to_long_string }}</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}

    <!--    {{ content | strip_html | strip_newlines | split: "" | size }}-->
    <div class="eof">-&nbsp;EOF&nbsp;-</div>
    <p class="declare">声明:本文采用<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="nofollow" title="署名-非商业性使用-相同方式共享">BY-NC-SA</a>协议进行授权.转载请注明: <a href="{{ page.url  }}" title="{{ page.title }} " rel="nofollow">{{ page.title  }}</a></p>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  <h4>相关文章</h4>
  <ul>
  {% for related_post in site.related_posts limit:7 %}
  <li><a href="{{ BASE_PATH }}{{ related_post.url }} ">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
</div>
<script type="text/javascript" src="{{ ASSET_PATH }}flying/js/blogscript.js"></script>
